
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  position: relative;
  z-index: 1;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw; 
  height: 100%; 
  background-image: url(../imagens/backgroundfundo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.1;
  z-index: -1;
}
  


.parte1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    background-color: rgba(255, 204, 0, 0.71);
    padding: 70px;
    flex-wrap: wrap; /* permite quebrar a linha se na tiver espaço*/
  }

  /* estilo do titulo*/

  .titulo{
margin: 0;
font-size: 63px;
max-width: 600px;
line-height: 1.2;
text-align: left;
font-weight: 800; /* Bold */

    
  }
/* destaque do titulo da primeira sessao "profissionais"*/
  .destaque{
    color: white;
  }

  /* foto golden*/
.golden-dog {
    height: auto;       
    width: 530px; ;
}

/* deixe seu amigo peludo em boas maos*/
.paragrafo2{
    color: rgba(77, 77, 77, 1);
    text-align: center;
    font-size: 40px;
    margin-top: 90px; /* serve para aumentar e diminuir  o espaçamento com o conteúdo acima */
  }
  
/*DESTAQUE DO TITULO DEIXE SEU AMIGO PELUDO EM BOAS MAOS*/
  .destaque2{
    color:rgba(255, 204, 0, 1);


  }
.main-content{
    overflow-x: hidden;
}


    .carrosel-container{
        overflow-x: auto; 
        white-space: nowrap; /*impede que os elementos quebrem a linha da pagina*/
        padding: 20px; /*evita que o conteudo fique colodo na borda da tela*/
        scroll-behavior: smooth; /*rolagem das imagens*/
        margin-top: 50px;
        max-width: 100%;
      
        
  }

  .carrosel-container::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
  .carrosel {
    display: flex; /*deixa lado a lado*/
    gap: 20px; /* espaço entre as imagens */
    overflow-x: auto;
    max-width: 100%;
  }
  
  .carrosel img {
    width: 300px;       /* controla o tamanho das imagens */
  height: auto;
    border-radius: 10px; /*arredonda a borda das imagens*/
    flex-shrink: 0; /*nao permite encoolher os itens mesmo que nao tem espaço*/
    transition: transform 0.3s ease;/*aumenta a imagem quando passa */
  }

  .carrosel img:hover {
    transform: scale(1.05); /*aumenta o tamanho em 5%*/
  } 

  

  .titulo-depoimentos {
    text-align: center;
    margin-top: 80px;
    font-size: 40px;
    color: #333;
    margin-top: 100px;
  }
  
  .depoimentos-clientes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    padding: 40px 20px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .depoimento {
    background-color: rgba(255, 255, 224, 1);
    border-radius: 15px;
    padding: 20px;
    width: calc(50% - 15px);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
    text-align: center;
    margin-bottom: 90px;
   
  }
  
  .depoimento img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
  }
  
  .depoimento p {
    font-size: 14px;
    color: #000000;
    line-height: 1.5;
  }
  
  @media (max-width: 768px) {
    .depoimento {
      width: 100%;
    }
  }
  